@media screen and (max-width: 320px){
  .carousel-cell{
}
}








@media screen and (min-width: 320px) {
.titlecontact {font-size: 0.6em !important;margin: 23% 0% 0% 0%;}
.descriptioncontact{font-size: 0.47em !important;}
.formulario{height: 20% !important;}
.informacoes_formulario{margin: -275% 0% !important;}
.form-group{margin-bottom: 10px;margin-top: -15px;}
.formcontato {
    margin-top: -5% !important;
}
.faleconosco{display: none;}
.title_location{ }
.title_telefone{ }
.title-email{ }
.mediasocial{ }
.copyright{ }

.flickity-enabled{
display: block;
}


#info_obj {
    top: -10% !important;
}
.legenda-operacao {
    font-size: 0.25em !important;
}
.title_obj {
    font-size: 0.23em !important;
}
.student {
    width: 90% !important;
    margin: 8% auto !important;
}
#info_fimp {
    top: -10% !important;
}
.title-filo {
    font-size: 0.26em !important;
}
#world {
    top: -20vh;
    left: 30%;
}
  .main-title:before {
  width: 60px !important;
  left: -2em !important;
  top: -1.6em !important;
  }
  .menuz {
  display: block;
}
.objetivos-title {
    padding: 0% 7% 2% 8% !important;
    right: 31% !important;
}
.filosofia-title{
left: 33% !important;
font-size: 0.34em !important;
}
.description_info {
    font-size: 0.35em !important;
    top: 49% !important;
}
.informacoes-title {
    padding: 0% 0% 2% 0% !important;
    left: 32%;
}
#info_info {
top: -10% !important;
}
.intro {}
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.titlecontact { }
.descriptioncontact{ }
.formulario{ }
.informacoes_formulario{ }
.form-group{ }
.title_location{ }
.title_telefone{ }
.title-email{ }
.mediasocial{ }
.formcontato {}
.copyright{ }


.flickity-enabled{
display: block;
}

#info_obj {
    top: -10% !important;
}
.legenda-operacao {
    font-size: 0.25em !important;
}
.title_obj {
    font-size: 0.23em !important;
}
.student {
    width: 90% !important;
    margin: 8% auto !important;
}
#info_fimp {
    top: -10% !important;
}
.title-filo {
    font-size: 0.26em !important;
}
#world {
    top: -20vh;
    left: 30%;
}
  .main-title:before {
  width: 60px !important;
  left: -2em !important;
  top: -1.6em !important;
  }
  .menuz {
  display: block;
}
.objetivos-title {
    padding: 0% 7% 2% 8% !important;
    right: 31% !important;
}
.filosofia-title{
left: 33% !important;
font-size: 0.34em !important;
}
.description_info {
    font-size: 0.35em !important;
    top: 49% !important;
}
.informacoes-title {
    padding: 0% 3.1% 2% 8% !important;
}
#info_info {
top: -10% !important;
}
.intro {}
}

@media screen and (min-width: 360px) and (orientation: landscape) {
.titlecontact { }
.descriptioncontact{ }
.formulario{ }
.informacoes_formulario{ }
.form-group{ }
.title_location{ }
.title_telefone{ }
.title-email{ }
.mediasocial{ }
.copyright{ }
.formcontato {}
.flickity-enabled{
display: block;
}

#info_obj {}
.legenda-operacao {}
.title_obj {
    font-size: 0.28em !important;
}
.student {
    width: 80% !important;
    margin: 10% auto !important;
}
#info_fimp {}
.title-filo {
    font-size: 0.3em !important;
}
#world  {
    top: 7vh;
    left: 30%;
}
.intro {
    top: -23vh !important;
    left: 0%;
}
.informacoes-title {
  padding: 0% 10.1% 2% 6.4% !important;
  font-size: 0.37em !important;
}
.filosofia-title {
padding: 0% 9% 2% 5% !important;
left: 33% !important;
}
.objetivos-title {
    padding: 0% 6% 2% 16% !important;
    right: 32% !important;
}
.description_info{
    font-size: 0.42em !important;
    top: 55% !important;
}
#info_info {
top: -10% !important;
}
}
@media screen and (min-width: 360px) {
.titlecontact { }
.descriptioncontact{ }
.formulario{ }
.informacoes_formulario{ }
.form-group{ }
.title_location{ }
.title_telefone{ }
.title-email{ }
.mediasocial{ }
.copyright{ }
#info_obj {}
.formcontato {}
.legenda-operacao {}
.title_obj {
    font-size: 0.28em !important;
}
.student {
    width: 80% !important;
    margin: 10% auto !important;
}
#info_fimp {}
.title-filo {
    font-size: 0.3em !important;
}
#world  {
    top: 4vh;
    left: 30%;
}
.intro {
    top: -23vh !important;
    left: 0%;
}
.informacoes-title {
  padding: 0% 10.1% 2% 6.4% !important;
  font-size: 0.37em !important;
}
.filosofia-title {
padding: 0% 9% 2% 5% !important;
left: 33% !important;
}
.objetivos-title {
    padding: 0% 6% 2% 16% !important;
    right: 32% !important;
}
.description_info{
    font-size: 0.42em !important;
    top: 50% !important;
}
#info_info {
top: -10% !important;
}
}

@media screen and (min-width: 375px) {
.titlecontact { }
.descriptioncontact{ }
.formulario{ }
.informacoes_formulario{ }
.form-group{ }
.title_location{ }
.title_telefone{ }
.title-email{ }
.mediasocial{ }
.copyright{ }
.formcontato {}
#info_obj {}
.legenda-operacao {}
.title_obj {}
.student {}
#info_fimp {}
.title-filo {}
#world {}
.intro {}
.informacoes-title {
  
font-size: 0.38em !important;
}
.filosofia-title {

}
.description_info{}
#info_info {}
}


@media screen and (min-width: 411px) { 
.titlecontact { }
.descriptioncontact{ }
.formulario{ }
.informacoes_formulario{ }
.form-group{ }
.title_location{ }
.title_telefone{ }
.title-email{ }
.mediasocial{ }
.copyright{ }
.formcontato {}
#info_obj {}
.legenda-operacao {}
.title_obj {
    font-size: 0.33em !important;
}
.student {
    width: 70% !important;
    margin: 5% auto !important;
}
#info_fimp {}
.title-filo {
    font-size: 0.38em !important;
    top: 1vh !important;
}
 #world {}
.intro { 
}
  #btn_inf {

    
width: 16vh !important;
  }
  #btn_fi {
    
width: 16vh !important;
  }

  .informacoes-title {
    
font-size: 0.37em !important;
    
padding: 0% 18.1% 2% 8% !important;
  }
  .filosofia-title {padding: 0% 12% 2% 10% !important;left: 30% !important;font-size: 0.37em !important;}
#btn_obj {
  
width: 16vh !important;
}
.objetivos-title {
  
font-size: 0.41em !important;
  
padding: 0% 9% 2% 16% !important;
  
right: 29% !important;
}
.description_info {}
#info_info {}
}

@media screen and (min-width: 411px) and (orientation: landscape) { 
.titlecontact { }
.descriptioncontact{ }
.formulario{ }
.informacoes_formulario{ }
.form-group{ }
.title_location{ }
.title_telefone{ }
.title-email{ }
.mediasocial{ }
.copyright{ }
.formcontato {}
.flickity-enabled{
display: block;
}


#info_obj {}
.legenda-operacao {}
.title_obj {
    font-size: 0.33em !important;
}
.student {
    width: 70% !important;
    margin: 5% auto !important;
}
#info_fimp {}
.title-filo {
    font-size: 0.38em !important;
    top: 1vh !important;
}
 #world {
    left: 290% !important;
    top: 11vh;
}
.intro { 
}
  #btn_inf {
width: 20vh !important;
height: 20vh !important;
}
  #btn_fi {
    
width: 20vh !important;
    
height: 20vh !important;
  }

  .informacoes-title {
    
font-size: 0.37em !important;
    
padding: 0% 18.1% 2% 8% !important;
  }
  .filosofia-title {
padding: 0% 9% 2% 11% !important;
left: 30% !important;
font-size: 0.37em !important;
}
#btn_obj {
  
width: 20vh !important;
  
height: 20vh !important;
}
.objetivos-title {
  
font-size: 0.41em !important;
  
padding: 0% 9% 2% 13% !important;
  
right: 29% !important;
}
.description_info {}
#info_info {}
} 
  
@media screen and (min-width: 414px) {
.titlecontact { }
.descriptioncontact{ }
.formulario{ }
.informacoes_formulario{ }
.form-group{ }
.title_location{ }
.title_telefone{ }
.title-email{ }
.mediasocial{ }
.copyright{ }
.formcontato {}
#info_obj {}
.legenda-operacao {}
.title_obj {}
.student {
    width: 90% !important;
    margin: 10% auto !important;
}
#info_fimp {}
.title-filo {}
.informacoes-title {
    padding: 0% 14% 2% 6% !important;
    font-size: 0.4em !important;
  }
  .objetivos-title {
    right: 35% !important;
    top: 7% !important;
    font-size: 0.44em !important;
    padding: 0% 7% 2% 8% !important;
}
.intro { }
  .filosofia-title {
left: 34% !important;
font-size: 0.42em !important;
padding: 0% 6% 2% 6% !important;
}
.description_info {}
  #info_info {}
  }
  @media screen and (min-width: 435px) {
.titlecontact { }
.descriptioncontact{ }
.formulario{ }
.informacoes_formulario{ }
.form-group{ }
.title_location{ }
.title_telefone{ }
.title-email{ }
.mediasocial{ }
.copyright{ }
.formcontato {}
#info_obj {}
.legenda-operacao {
    top: 50vh !important;
}
.title_obj {}
.student {
    width: 90% !important;
}
#info_fimp {
    top: -8% !important;
}
.title-filo {}
  .objetivos-title {
    right: 35% !important;
}
  .informacoes-title {
    
font-size: 0.4em !important;
    
padding: 0% 15.1% 2% 8% !important;
  }
  .intro {}
  .filosofia-title{
   left: 34% !important;
   }
   .description_info {}
   #info_info {
    
   }
  }
  @media screen and (min-width: 435px) and (orientation: landscape) {
.titlecontact { }
.descriptioncontact{ }
.formulario{ }
.informacoes_formulario{ }
.form-group{ }
.title_location{ }
.title_telefone{ }
.title-email{ }
.mediasocial{ }
.copyright{ }
.formcontato {}
.flickity-enabled{
display: block;
}

#info_obj {}
.legenda-operacao {
    top: 50vh !important;
}
.title_obj {}
.student {
    width: 90% !important;
}
#info_fimp {
    top: -8% !important;
}
.title-filo {}
  .objetivos-title {
    padding: 0% 18% 1% 37% !important;
    font-size: 0.5em !important;
    right: 12% !important;
    top: 4% !important;
}
  .informacoes-title {
    
font-size: 0.5em !important;
    
padding: 0% 12.1% 1% 8% !important;
    
left: 12% !important;
    
top: -5% !important;
  }
  .intro {}
  .filosofia-title{
   left: 11% !important;
   top: 6% !important;
   font-size: 0.5em !important;
   padding: 0% 25% 1% 25% !important;
   }
   .description_info {
    top: 55% !important;
    font-size: 0.33em !important;
}
   #info_info {
    
top: 3% !important;
    
left: 4% !important;
    
width: 95% !important;
   }
  }
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .titlecontact { }
.descriptioncontact{ }
.formulario{ }
.informacoes_formulario{ }
.form-group{ }
.title_location{ }
.title_telefone{ }
.title-email{ }
.mediasocial{ }
.copyright{ }
.formcontato {}
    .menuz-item, .menuz-open-button {
    width: 12% !important;
}
  .main-title {
    font-size: 1.4em !important;
}
  .main-description {
    left: 60.4% !important;
    font-size: 1.05em !important;
    padding-top: 40px !important;
}
  .sobre{
    
  }

}
@media screen and (max-width: 800px) and (orientation: landscape) {
.flickity-enabled{
display: block;
}


.menuz-item, .menuz-open-button {width: 9% !important;height: 120% !important;}
.main-title {
    font-size: 0.9em !important;
}
.main-description {
    padding-top: 40px !important;
    left: 59.5% !important;
    font-size: 0.65em !important;
}

}
@media screen and (max-width: 800px) {

 @font-face {
    font-family: 'Lato', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Lato:400,300,700");
}
}
.wrapper {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  /* color: #fff; */
  position: relative;
}

section {
  height: 100vh;
  font-size: 40px;
  font-weight: 100;
  background-color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
section:nth-child(1) {
  background: white;
}
section:nth-child(2) {
  background: #333333;
}
section:nth-child(3) {
  background: #333333;
}
section:nth-child(4) {
  background: #333333;
}
section:nth-child(5) {
  background: #333333;
  position: relative;
}
section:nth-child(6) {
  background: #333333;
}
section:nth-child(7) {
  background: #333333;
}

.nav__wrapper {
  position: fixed;
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 2;
}
.nav {
  margin: 0 0 100px 30px;
  display: none;
}
.nav__counter {
  font-size: 24px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.nav__title {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 0.25em;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease-out;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav__body {
  font-weight: 100;
  font-size: 18px;
  font-size: 18px;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease-out;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav li {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
}
.nav li:after {
  content: '';
  display: block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  height: 250px;
  width: 20px;
  position: absolute;
  left: -30px;
  top: 15px;
}
.nav li a {
  display: block;
  padding: 0;
  /* color: #fff; */
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.nav li a:hover {
  background-color: transparent;
  padding-left: 1em;
}
.nav li a:focus {
  background-color: transparent;
}
.nav li.active {
  pointer-events: none;
  padding-left: 1em;

}
.nav li.active:after {
  width: 35px;
  height: 400px;
  top: 35px;
}
.nav li.active .nav__counter {
  width: 60px;
  height: 80px;
}
.nav li.active .nav__title {
  height: 40px;
  opacity: 1;
  overflow: visible;
}
.nav li.active .nav__body {
  height: 100px;
  opacity: 1;
  overflow: visible;
}

.icon_nav {
   width: 30px;
    height: 40px;
    display: inline-block;
    
}
.menuz {
  display: block;
}
#home_icon { 
     background: url('../img/icon/home.png') no-repeat;
     background-size: 100%; 
 }
#servicos_icon {
 background: url('../img/icon/servicos.png') no-repeat;
 background-size: 100%;
 }
#oque_icon {
     background: url('../img/icon/oque.png') no-repeat;
     background-size: 100%;
}
#sobre_icon {
     background: url('../img/icon/sobre.png') no-repeat;
     background-size: 100%;
}
#portfolio_icon {
    background: url('../img/icon/portfolio.png') no-repeat;
    background-size: 100%;
    background-position: center;
}
#quemsomos_icon {
     background: url('../img/icon/quemsomos.png') no-repeat;
     background-size: 100%;
 
}
#contato_icon {
     background: url('../img/icon/contato.png') no-repeat;
     background-size: 100%;
}


.sobre{position: relative;width: 480px;height: 100%;top: 8%;display: inline-block;}
.sobre h2 {
    font-size: 35%;
}


.informacoes {
  position: relative;
  width: 100%;
  height: 33.3%;
  -moz-border-image: -moz-linear-gradient(right, #333333 0%, #ff7a46 30%);
  -webkit-border-image: -webkit-linear-gradient(right, #333333 0%, #ff7a46 30%);
  border-image: linear-gradient(to right, #333333 0%, #ff7a46 30%);
  border-image-slice: 1;
  }
.objetivos {
  position: relative;
  width: 100%;
  height: 33.3%;
  text-align: right;
  -moz-border-image: -moz-linear-gradient(left, #333333 0%, #2176B8 30%);
  -webkit-border-image: -webkit-linear-gradient(left, #333333 0%, #2176B8 30%);
  border-image: linear-gradient(to left, #333333 0%, #2176B8 30%);
  border-image-slice: 1;
  }
.filosofia {
  position: relative;
  width: 100%;
  height: 33%;
  -moz-border-image: -moz-linear-gradient(right, #333333 0%, #38CE8E 30%);
  -webkit-border-image: -webkit-linear-gradient(right, #333333 0%, #38CE8E 30%);
  border-image: linear-gradient(to right, #333333 0%, #38CE8E 30%);
  border-image-slice: 1;
  }
#btn_inf  {
    width: 35%;
    height: 60%;
    background-color: #333333;
    background-image: url('../img/icon/informacoes.png');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    border-radius: 50%;
    float: left;
    border: 5px solid #ff7a46;
    /* transition: margin 0.2s ease-in 0s; */
    }
    #btn_inf:focus {
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
#btn_obj{
    width: 35%;
    height: 60%;
    background-color: #333333;
    background-image: url('../img/icon/objetivos.png');
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    border-radius: 50%;
    float: right;
    border: 5px solid #2176B8;
    /* transition: margin 0.2s ease-in 0s; */
  }
#btn_fi{
    width: 35%;
    height: 60%;
    background-color: #333333;
    background-image: url('../img/icon/filosofia.png');
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    border-radius: 50%;
    float: left;
    border: 5px solid #38CE8E;
    /* transition: margin 0.2s ease-in 0s; */
  }
.description_info {
  
font-weight: 200;
  
position: relative;
  
top: 15%;
  
width: 80%;
  
left: 10%;
  
font-size: 100%;
}

.description_info .bold {
  font-weight: 700;
}
#info_info{
  position: absolute;
  display: none;
  width: 85%;
  height: 105%;
  top: 5%;
  left: 10%;
  background: #333333;
  background-image: url('../img/background-mission.png');
  border: 5px solid #ff7a46;
  border-image-slice: 1;
}
#info_obj{
  position: absolute;
  display: none;
  width: 85%;
  height: 105%;
  top: 5%;
  left: 5%;
  border: 5px solid #2176B8;
  background: url('../img/background-objetivo.png') center;
  transition-property: all;
}

#info_fimp{
  position: absolute;
  display: none;
  width: 85%;
  height: 105%;
  top: 4%;
  left: 10%;
  background: #333333;
  border: 5px solid #38CE8E;
  border-image-slice: 1;
}

.legenda-operacao {
  
width: 37%;
  
position: relative;
  
font-size: 0.85em;
  
top: 45vh;
  
float: right;
  
right: 3.5vh;
  
text-align: right;
  
opacity: 0.8;
}
.main-description{
  
font-size: 0.5em;
  
width: 70%;
  
padding-top: 12px;
  
text-align: right;
  
left: 59%;
}
.main-title:before {
    left: -2em;
    top: -1.5em;
    width: 30%;
    height: 5em;
}
.main-title {
  
width: 70%;
  
font-size: 0.7em;
  
text-align: right;
  
left: 60%;
}
.title_obj {
  font-size: 0.9em;
  font-weight: 200;
  position: absolute;
  margin: 1.5% -5%;
}
.title_obj .bold {
  font-weight: 700;
}
.servicos{
    z-index: 1;
    
    
    ]: inline-block
    align-items: center;
    height: 100%;
    width: 143%;
}
.branding{
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
}
.web{
  position: relative;
  width: 25%;
  height: 100%;
  float: left;
  }
.d_grafico{
  position: relative;
  width: 25%;
  height: 100%;
  float: left;
  }
.m_digital{
  position: relative;
  width: 25%;
  height: 100%;
  float: left;
}

.b1{
  position: relative;
  width: 20%;
  height: 10%;
  background: #6400ff;
  left: 170%;
  float: left;
  opacity: 0;
  top: 9%;
}

.b1:hover{
    background: red;
}

.b2{
    position: relative;
    width: 20%;
    height: 10%;
    background: #6400ff;
    left: 250%;
    float: left;
    opacity: 0;
    top: 9%;
}
.b2:hover{
    background: red;
}

.b3{
    position: relative;
    width: 20%;
    height: 10%;
    background: #6400ff;
    left: 330%;
    float: left;
    opacity: 0;
    top: 9%;
}
.b3:hover{
    background: red;
}

.w1{
    position: relative;
    width: 20%;
    height: 10%;
    background: aqua;
    left: -30%;
    float: left;
    opacity: 0;
    top: 9%;
}
.w1:hover{
    background: red;
}

.w2{
    position: relative;
    width: 20%;
    height: 10%;
    background: aqua;
    left: 150%;
    float: left;
    opacity: 0;
    top: 9%;
}
.w2:hover{
    background: red;
}

.w3{
    position: relative;
    width: 20%;
    height: 10%;
    background: aqua;
    left: 230%;
    float: left;
    opacity: 0;
    top: 9%;
}
.w3:hover{
    background: red;
}

.d1{
    position: relative;
    width: 20%;
    height: 10%;
    background: yellow;
    right: 130%;
    float: left;
    opacity: 0;
    top: 9%;
}
.d1:hover{
    background: red;
}

.d2{
    position: relative;
    width: 20%;
    height: 10%;
    background: yellow;
    right: 50%;
    float: left;
    opacity: 0;
    top: 9%;
}
.d2:hover{
    background: red;
}

.d3{
    position: relative;
    width: 20%;
    height: 10%;
    background: yellow;
    left: 130%;
    float: left;
    opacity: 0;
    top: 9%;
}
.d3:hover{
    background: red;
}

.m1{
    position: relative;
    width: 20%;
    height: 10%;
    background: green;
    right: 230%;
    float: left;
    opacity: 0;
    top: 9%;
}

.m1:hover{
    background: red;
}

.m2{
    position: relative;
    width: 20%;
    height: 10%;
    background: green;
    right: 150%;
    float: left;
    opacity: 0;
    top: 9%;
}
.m2:hover{
    background: red;
}

.m3{
    position: relative;
    width: 20%;
    height: 10%;
    background: green;
    right: 70%;
    float: left;
    opacity: 0;
    top: 9%;
}
.m3:hover{
    background: red;
}

.btn_brad{
    position: absolute;
    margin-top: 70%;
    width: 60%;
    height: 25%;
    border: inherit;
    cursor: pointer;
    background: url('../img/servicos_pentagono.svg');
    font-size: 0.6em;
    padding: 17% 2% 0% 0%;
    transition: background 0.3s ease-in;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.btn_brad::before {
  background-image: url('../img/icon/servico_1.png');
  background-position: center;
  background-size: 80%;
  content: "";
  width: 100%;
  height: 90%;
  display: inline-block;
  position: relative;
  top: -20%;
}
.btn_web{
    position: absolute;
    margin-top: 70%;
    width: 60%;
    height: 25%;
    border: inherit;
    cursor: pointer;
    background: url('../img/servicos_pentagono.svg');
    font-size: 0.6em;
    padding: 17% 2% 0% 0%;
    transition: background 0.3s ease-in;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.btn_web::before {
    background-image: url('../img/icon/servico_2.png');
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    width: 100%;
    height: 90%;
    display: inline-block;
    position: relative;
    top: -20%;
}

.btn_dgraf{
    position: absolute;
    margin-top: 70%;
    width: 60%;
    height: 25%;
    border: inherit;
    cursor: pointer;
    background: url('../img/servicos_pentagono.svg');
    font-size: 0.6em;
    padding: 17% 2% 0% 0%;
    transition: background 0.3s ease-in;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_dgraf::before {
    background-image: url('../img/icon/servico_3.png');
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    width: 102%;
    height: 90%;
    display: inline-block;
     position: relative;
    top: -20%;
}

.btn_mdig{
    position: absolute;
    margin-top: 70%;
    width: 60%;
    height: 25%;
    border: inherit;
    cursor: pointer;
    background: url('../img/servicos_pentagono.svg');
    font-size: 0.6em;
    padding: 17% 2% 0% 0%;
    transition: background 0.3s ease-in;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_mdig::before {
    background-image: url('../img/icon/servico_4.png');
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    width: 102%;
    height: 90%;
    display: inline-block;
    position: relative;
    top: -20%;
}

.contato {
  width: 100%;
  height: 100%;
}
.titlecontact {
  font-weight: 200;
  font-size: 0.4em;
}
.descriptioncontact {
 font-weight: 700;
 position: relative;
 top: -1%;
 font-size: 0.5em;
}

.titlecontact .bold {
  font-weight: 700;
}

.descriptioncontact .thin {
  font-weight: 200;
}

.filosofia-title {
  font-size: 100%;
  top: 15%;
  left: 30%;
  float: left;
  text-align: right;
  padding: 0% 2% 2% 5%;
  border-bottom: 5px solid #38CE8E;
}

.filosofia-title .bold {
  font-weight: 700;
}

.objetivos-title {
  font-size: 100%;
  top: 20%;
  right: 29.5%;
  padding: 0% 5% 2% 2%;
  border-bottom: 5px solid #2176b8;
}
.title_telefone {
  
font-size: 0.5em;
}
.objetivos-title .bold {
  font-weight: 700;
}

.informacoes-title {top: 15%;right: 0%;padding: 0% 6.1% 2% 8%;border-bottom: 5px solid #ff7a46;}

.informacoes-title .bold {
  font-weight: 700;
}

.title_location {
  font-weight: 200;
  margin-bottom: -10px;
  font-size: 0.5em;
}

.title_location:before {
display: inline-block;
width: 30px;
height: 50px;
background-image: url('../img/contato/location.png');
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
content: "";
position: relative;
left: -75px;
}


.title_email {
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 0.5em;
}
.title_email:before {
display: inline-block;
width: 40px;
height: 30px;
background-image: url('../img/contato/email.png');
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
content: "";
position: relative;
top: 7px;
}

.title_location .bold {
  font-weight: 700;
}

.title_email .bold {
  font-weight: 700;
}

.title_telefone .thin {
  font-weight: 200;
}

.title_telefone:before {display: inline-block;width: 30px;height: 50px;background-image: url('../img/contato/telefone.png');background-position: center;background-repeat: no-repeat;background-size: 100%;content: "";position: relative;left: -65px;top: 10px;}

.formulario {
  width: 100%;
  height: 25%;
  /* float: left; */
}
.informacoes_formulario {
  width: 95%;
  height: 30%;
  padding-top: 80px;
  margin: 10% 0px;
}

.formcontato {
  margin-top: 10%;
}

.borderform {
    border: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);
    border-image: linear-gradient(to right, #ff7a46 0%, #2176B8 50%, #38CE8E 100%), linear-gradient(to right, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);
    border-image-slice: 1;
}

.btn:after {
  background-image: url('../img/enviar.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
}

.divisoriainfo {
  
width: 100%;
}

.mediasocial {
  width: 110px;
  height: 110px;
  display: inline-block;
  margin-left: 15px;
  background: red;
}

.facebook {
  background-image: url('../img/contato/facebook.png');
  background-size: 100%;
}
.skype {
  background-image: url('../img/contato/skype.png');
  background-size: 100%;
}
.linkedin {
  background-image: url('../img/contato/linkedin.png');
  background-size: 100%;
}

.copyright {
  font-weight: 200;
  font-size: 0.5;
}
.slides {
  position: relative;
  height: 100%;
  width: 99.8%;
}

.prev {
  width: 50px;
  height: 60px;
  display: inline-block;
  cursor: pointer;
  background-image: url('../img/slide/buttonesq.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.next {
   width: 50px;
   height: 60px;
   display: inline-block;
   cursor: pointer;
   background-image: url('../img/slide/buttondir.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.cnt {
  border-radius: 50%;
  
}

.computer-service {
  background-image: url('../img/computer-service.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50%;
  height: 23.9%;
  position: absolute;
  margin: 0 auto;
}

.oque_slide {
  background-image: url('../img/icon/tablet.png');
  width: 33%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-cell {
  background: red;
  width: 100%;
  height: 100%;
  cursor: url('../img/swipe-to-right.cur');
}

.carousel-cell:nth-child(2) {
  background: yellow;
  /* height: 20%; */
}

.carousel {
  width: 100%;
}

.serv {
    /* height: 34em; */
    display: none;
    position: relative;
}

.serv div {
  /* background: red; */
}

.serv div:nth-child(1) {

/* border-right: 5px solid transparent; */

-moz-border-image: -moz-linear-gradient(left, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);

-webkit-border-image: -webkit-linear-gradient(top, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);

border-image: linear-gradient(to right, #ff7a46 0%, #2176B8 50%, #38CE8E 100%), linear-gradient(to right, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);

/* border-image-slice: 1; */
}

.serv div:nth-child(2) {
   /* border-right: 5px solid transparent; */
   -moz-border-image: -moz-linear-gradient(left, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);
   -webkit-border-image: -webkit-linear-gradient(bottom, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);
   border-image: linear-gradient(to right, #ff7a46 0%, #2176B8 50%, #38CE8E 100%), linear-gradient(to right, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);
   /* border-image-slice: 1; */
}
.serv div:nth-child(3) {
   /* border-right: 5px solid transparent; */
   -moz-border-image: -moz-linear-gradient(left, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);
   -webkit-border-image: -webkit-linear-gradient(top, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);
   border-image: linear-gradient(to right, #ff7a46 0%, #2176B8 50%, #38CE8E 100%), linear-gradient(to right, #ff7a46 0%, #2176B8 50%, #38CE8E 100%);
   /* border-image-slice: 1; */
}
.serv div:nth-child(4) {
  
}

.serv-title {font-size: 20%;}

.serv-title .bold {
  font-weight: 700;

}
.serv-description {
  text-align: center;
  font-size: 0.45em;
}

.serv-description::before {
  content: "";
  height: 15.5em;
  display: inline-block;
}

.col-sm-3 h4:nth-child(1) {
  background-image: url('../img/web-design.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.col-sm-3 h4:nth-child(2) {
  background-image: url('../img/responsive-devices.png');
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center 0.55em;
  font-size: 15%;
}
.col-sm-3 h4:nth-child(3) {
  background-image: url('../img/customizable.png');

  background-size: 100%;
  background-repeat: no-repeat;  
}
.col-sm-3 h4:nth-child(4) {
  background-image: url('../img/web-storage.png');
  background-size: 100%;
  background-repeat: no-repeat;
  
}

.title_obj:after {
  content: "";
  display: inline-block;
  background-image: url('../img/icon-objetivo.png');
  width: 22em;
  background-size: 90%;
  height: 16.5em;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

.student{
    width: 100%;
    margin: 25% auto;
    position: relative;
}
.srvc_icon{
    width: 29px;
    position: absolute;
}
.openBookIcon{
    top: 20%;
    right: 0;
}

.title-filo {
  font-weight: 200;
  font-size: 0.9em;
  position: relative;
  top: 2vh;
  width: 90%;
  left: 5%;
}

.title-filo .bold {
  font-weight: 700;
}
    
}
@media  (min-width: 801px) and (max-width: 1024px){
  .body{

  }
}