.book{width: 58%;height: 100%;position:relative;perspective: 1500px;display: inline-block;background-image: url('../img/slide/background-slide.png');background-repeat: no-repeat;background-position: center;background-size: 90%;}
.page{position:absolute;top: 0px;width:50%;height:100%;color:#fff;font-size:80px;transition:all .8s ease;transform-style: preserve-3d;transform:rotateY(0deg);backface-visibility:hidden;z-index:1;}
.book .page.left{left:0;transform-origin:right;}
.book .page.right{right:0;transform-origin:left;}
.book .page.current{z-index:2;}
.current.right.page.turn{transform:rotateY(-180deg);}
.current.left.page.turn{transform:rotateY(180deg);}

.book .next.left.page{transform:rotateY(180deg);}
.next.left.page.turn{transform:rotateY(0deg);}
.book .next.right.page{}

.book .prev.right.page{transform:rotateY(-180deg);}
.prev.right.page.turn{transform:rotateY(0deg);}
.book .prev.left.page{}

.book .page.red{
    width: 400px;
    height: 800px;
    background-color: white;
    background-image: url('../img/logo.png');
    border-bottom-left-radius: 433px;
    border-top-left-radius: 433px;
    border-bottom: 0;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    }
.book .page.blue{
    width: 400px;
    height: 800px;
    background-color: #333333;
    background-image: url('../img/slide/slide-2.png');
    border-bottom-right-radius: 433px;
    border-top-right-radius: 433px;
    border-bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    }
.book .page.green{
    width: 400px;
    height: 800px;
    background-color: #333333;
    border-bottom-left-radius: 433px;
    border-top-left-radius: 433px;
    border-bottom: 0;
     background-image: url('../img/slide/slide-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    }
.book .page.orange{
    width: 400px;
    height: 800px;
    background-color: white;
    border-bottom-right-radius: 433px;
    border-top-right-radius: 433px;
    border-bottom: 0;
     background-image: url('../img/logo.png');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    }
.book .page.maroon{
    width: 400px;
    height: 800px;
    background-color: white;
    border-bottom-left-radius: 433px;
    border-top-left-radius: 433px;
    border-bottom: 0;
    background-image: url('../img/logo.png');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;

    }
.book .page.pink{
    width: 400px;
    height: 800px;
    background-color: #333333;
    border-bottom-right-radius: 433px;
    border-top-right-radius: 433px;
    border-bottom: 0;
            background-image: url('../img/slide/slide-4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    }
.book .page.purple{
    width: 400px;
    height: 800px;
    background-color: #333333;
    border-bottom-left-radius: 433px;
    border-top-left-radius: 433px;
    border-bottom: 0;
            background-image: url('../img/slide/slide-5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    }

    .book .page.brown{
width: 400px;
    height: 800px;
    background-color: white;
    border-bottom-right-radius: 433px;
    border-top-right-radius: 433px;
    border-bottom: 0;
    background-image: url('../img/logo.png');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    }

        .book .page.nine{
    width: 400px;
    height: 800px;
    background-color: white;
    border-bottom-left-radius: 433px;
    border-top-left-radius: 433px;
    border-bottom: 0;
    background-image: url('../img/logo.png');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    }
        .book .page.black{
       width: 400px;
    height: 800px;
    background-color: #333333;
    border-bottom-right-radius: 433px;
    border-top-right-radius: 433px;
    border-bottom: 0;
            background-image: url('../img/slide/slide-6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    }


.btns{text-align:center;position: absolute;margin: 83% 45%;z-index: 3;}
.btns button{font-size:30px;padding:10px 30px;border-radius: 50%;border: transparent;}