html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;				
}
body{
	padding-top: 50px;
}
			
.book-gallery{
	position: absolute;
	width: 50%;
	height: 60%;
	padding: 10px;
	margin: auto;
	background-color: orange;
	perspective: 1800px;
	transform: rotateY(0);
	transform-style: preserve-3d;
}
.page{
	counter-increment : page-count;
	position: relative;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	float: left;
	-webkit-transform-origin: bottom left;
	-webkit-transform: rotateY(0);
	-webkit-transition : -webkit-transform 1s ease-out;
	-webkit-transform-style: preserve-3d;
	z-index: 111;
}

input:checked + .page{-webkit-transform: rotateY(-180deg);}
.front-page, .back-page{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
}
.front-page{				
	background-color: red;
	z-index: 200;
}
.back-page{
	z-index: 100;
	background-color: green;
	-webkit-transform: rotateY(-180deg);
}
			
.page figure{
	width: 60%;
	max-height: 80%;
	overflow: hidden;
}
.page figure img{width: 100%;}
.page figure figcaption{
	backgroung-color:rgba(0, 0, 0, 0.7);
	text-align: center;
}
			
.chk-flip{
	position: relative;
	display: none;
}
.lbl-flip{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 300;
}
.page1 {
    counter-increment: page-count;
    position: relative;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    float: left;
    -webkit-transform-style: preserve-3d;
}
.page3 {
    counter-increment : page-count;
	position: relative;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	float: left;
	-webkit-transform-origin: bottom left;
	-webkit-transform: rotateY(0);
	-webkit-transition : -webkit-transform 1s ease-out;
	-webkit-transform-style: preserve-3d;
	z-index: 111;
}